table {
    border: 1px solid #aaaaaa;
    margin-top: 2px;
}
table td {
    border-left: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    font-size: 12px;
    text-align: center;
    width: 120px;
    padding: 2px 0px;
}
#docsigform {
    font-size: 12px;
    width: 100%;
    padding: 15px 5px;
}
#select-claims {
    padding: 10px 5px;
}


.Title {
    color: #47525E;
    font-family: PT Sans;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    width: 665px;
    text-align: left;
  }

  .SubTitle {
    color: #47525E;
    font-family: PT Sans;
    font-size: 39px;
    font-weight: 700;
    line-height: 50px;
    width: 450px;
    text-align: left;
  }

  .TKImage {
    width: 202px;
    height: 38px;
  }

  .BlueBar {
    background-color: #233CAB;
    width: 100%;
    height: 64px;
  }

  .Purple {
    background-color: #976DD0;
    width: 202px;
    height: 58px;
  }

  .Text {
    color: #47525E;
    font-family: PT Sans;
    font-size: 17px;
    font-weight: 700;
    line-height: 41px;
    width: 319px;
    text-align: left;
  }

  .ButtonText{
      color: white;
      font-size: 22px;
  }

  .docsigStatus {
    border-radius: 15px;
    font-family: PT Sans;
    border: 1px solid  #233CAB;
    display: block;
    margin: 25px auto;
    text-align: center;
    padding: 40px 60px;
    font-size: 22px;
    color: #233CAB;
    line-height: 40px;
  }

  .docsigError {
    border-color: #aa0000;
    color: #aa0000;
  }